#main {
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

#main .inner {
  height: 100vh;
}

#main #mainVisual {
  background: url("../images/main/mainVisual.jpg") no-repeat 50%;
  background-size: cover;
  position: relative;
}

#main #a .inner {
  position: relative;
  padding-top: 300px;
}

#main #b {
  color: #fff;
  position: relative;
}

#main #b .inner {
  background-color: #fff;
}

#main #b .container {
  height: 100vh;
}

#main #c .container {
  height: 100vh;
}

#main #d .inner {
  background-color: #f52f23;
  position: relative;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

#main #d .container {
  height: 100vh;
  color: #fff;
}
